nav {   
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: withe;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray
}
p {
    padding: 10px;
    text-align: center;
}
aside{
    margin: 1em;
    border: 2px solid steelblue;
    background-color: azure;
    color: #333 ;
    text-align: center;
}
aside img { width: 300px;

}